 body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  padding: 10px;
  background: #0038a8;
  color: white;
}

#searchBox {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

#map {
  height: 70vh;
}

#infoPanel {
  padding: 15px;
  background: #f5f5f5;
  height: 30vh;
  overflow-y: auto;
}

h3 {
  margin-top: 10px;
}
