body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #0038a8;
  color: white;
  padding: 10px;
}

#map {
  height: 70vh;
}

#infoPanel {
  padding: 10px;
  background: #f2f2f2;
}
